<div class="container col-6 m-auto border border-4 rounded-3 p-3 mt-4">
    <form>

        <label for="" class="form-label">Nombre</label>
        <br>
        <input class="form-control" type="text" name="nombre" [(ngModel)]="producto.nombre" placeholder="Nombre del producto">
        <br>
        <label for="" class="form-label">Cantidad</label> ({{producto.cantidad}})
        <br>
        <input class="form-range" type="range" name="cantidad" [(ngModel)]="producto.cantidad" min="1" max="100" step="1" value="10">
        <br>
        <label for="" class="form-label">Categoria</label>
        <br>
        <select class="form-select" name="categoria" [(ngModel)]="producto.categoria">
          <option value="Hogar">Hogar</option>
          <option value="Canasta Familiar">Canasta Familiar</option>
          <option value="Carnes">Carnes</option>
        </select>

        <button class="btn btn-success mt-3" (click)="registraProducto()" >Registrar producto</button>
      </form>

</div>
